/*
    PALETA DE CORES DO PROJETO
    #EEF5FF ==> background-div
    #9EB8D9 ==> background
    #7C93C3 ==> font
    #A25772 ==> destaque
*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mulish:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

:root{
    --background-div: #EEF5FF;
    --background: #9EB8D9;
    --fontColor: #7C93C3;
    --fontDestaque: #A25772;
    --borderNormal: 1px solid var(--fontColor);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0 auto;
    background: var(--background);
    font: 'Mulish';
    font-size: 24px;
    font-weight: bold;
    color: var(--fontColor);
    display: flex;
    justify-content: center;
}

main {
    width: 50%;
    margin: 3%;
    padding: 30px;
    background: var(--background-div);
    text-align: center;
    border-radius: 10px;
}

textarea {
    width: 95%;
    height: 100px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: 'Dancing Script';
    font-size: 22px;
  }

  #botao {
    width: 200px;
    height: 35px;
    border: var(--borderNormal);
    border-radius: 25px;
    color: var(--fontColor);
    font-weight: bolder;
    font-size: 15px;
  }

  #botao:hover {
    color: var(--fontDestaque);
    border: 1px solid var(--fontDestaque);
    background: var(--fontColor);
    transition: 0.8s;
  }